:root{
    --primary-color: #00001d;
    --text-color: #f1ecec;
    --bg-color: #f1ecec;
    --shadow: 0px 5px 3px #16053d;
}

#topbar{
    background: var(--primary-color);
    padding: 1rem 0rem;
    color: white;
    font-size: 1rem;
}
#topbar .link a{
    color: var(--text-color);
    text-decoration: none;
    padding: .9rem .8rem;
}
#topbar .link a:hover{
    background: var(--bg-color);
    color: var(--primary-color);
    border-radius: 5px;
    text-shadow: var(--shadow);
}

@media(max-width:768px){
    #topbar{
        text-align: center;
    }
    #topbar .link{
        text-align: center !important;
    }
}
.test #about .abouttitle{
    text-align: center;
    font-size: 20px;
}
.test #about .row{
    display: flex;
    padding: 20px;
}
.test #about .row img{
    width: 500px;
    height: 300px;
}
.test #about .row #aboutt .lead{
    padding-left: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.test #about .row #aboutt{
    padding-left: 20px;
    text-align: center;
}
.test h3{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}
.test p{
    padding: 0px 10px;
}